
body {
    /*display:flex;
    justify-content:grid;
    align-items: center;
    
    linear-gradient(to right,rgba(12, 31, 6, 0.973), rgba(122, 122, 8, 0.62))
    */
    background-image: url(https://i.pinimg.com/originals/f4/76/e1/f476e1a91b8569fc69127d81eea2cd3c.jpg)

    }

html {
    font-style: italic; color: rgb(249, 241, 235);
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    
}

div {
    display:flex;
    justify-content:grid;
    align-items: center;
}

#logo_central {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

button {
    border: 3px; border-radius: 6%; border-color: blue; border-style: solid;
    background-color: antiquewhite;
    color: rgb(38, 31, 31);
    padding: 15px 32px;
    text-align: center; text-decoration-color: chartreuse;
    text-decoration:dotted;
    display: inline-block;
    font-size: 16px; font-style:initial ;
    margin: 4px 2px;
    cursor: pointer;
    
  }